body {
  font-family: Helvetica;
  padding: 2em;
  background-color: white;
}

h1 {
  font-size: 2.5em;
  text-align: center;
}

label {
  color: blue;
  padding: 10px;
}

#translation_settings {
  overflow: auto;
}

.source, .target {
  float: left;
  padding: 10px;
  margin-bottom: 5px;
}

.error {
  color: red;
  font-style: italic;
  font-size: 10pt;
}

.submit {
  background-color: white;
  opacity: 0.9;
  color: black;
}

#target_phrases {
  color: black;
  padding-left: 30px;
  padding-top: 5px;
  outline: #4CAF50 solid 1px;
}


